::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #333 ;
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
    background: url('./images/mountainside-riverside-village.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first{
    position: absolute;
    top: 45%;
    left: 30%;
}

h1, span{
    text-transform: uppercase;
    font-size: 40px;
    color: #433f57;
    font-family: Abril fatface, sans-serif;
}

.container-btns{
    position: relative;
    top: 50%;
}

.btn-first{
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 200px;
    color: #363535d7;
    cursor: pointer;
}

.btn-first-child:nth-child(1){
    margin-right: 30px;
}

.btn-first:hover{
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: rgb(10, 10, 10);
}

.lignes{
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1{
    width: 250px;
    height: 3px;
    background: #cec9c9;
    border-radius: 5px;
}

.l2{
    width: 140px;
    height: 3px;
    background: #cec9c9;
    border-radius: 5px;
    position: relative;
    top: 20;
}

.logo{
    position: absolute;
    right: 3%;
    top: 4%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.media{
    list-style-type: none;
    position: absolute;
    right: 3.5%;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bubble{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias{
    width: 40px;
    height: 40px;
}
