h1 {
    color: white;
    font-size: 4em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
}

h2 {
    color: white;
    font-size: 3em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
}


button {
    background-color: white;
    color: black;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 5%;
}
  button a{
    color: black;
    border: none;
    text-decoration: none;
    padding: 15px 32px;
    font-size: 17px; 
    text-align: center;
    
  }

button a:hover {
  background-color: black;
  color: white;
  
}

.background { 
    background-color: #34568B; 
    animation: background 5s 1; /* CSS3 */
} 

footer {
    background-color: #A0DAA9;
    font-size: 20px;
    padding: 15px 32px;
    margin-bottom: 0%;
}

@keyframes background { /* CSS3 */
    0%, 50% {top:0px; bottom:0px; background: black;}
    100% {top:500px; left:0px; background:#34568B;}
} 


.sun {
    background: #EFC050;
    width: 95px;
    height: 95px; 
    border-radius: 80px;
    animation:
        move 5s 1;
    position:relative; 
    margin-left: 60px;
}

/* Sun effect */

@keyframes move { 
    0%, 50% {top:200px; left:0px;}
    100% {top:0px; left:0px;}
}


.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
